# **Decision Tree Model**

## **Hyper-parameters**  
Max_depth - The maximum number of levels in the tree

<img src='ML_decisionTree.png'>

## **Project 1: Hiring Decision Making**

In [1]:
import warnings 
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import numpy as np

df = pd.read_csv('PastHires.csv')
df.head(2)

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y

In [2]:
df.shape

(13, 7)

In [3]:
# Check missing values
df.isnull().sum()

Years Experience      0
Employed?             0
Previous employers    0
Level of Education    0
Top-tier school       0
Interned              0
Hired                 0
dtype: int64

In [4]:
d = {'Y': 1, 'N': 0}
df['Hired'] = df['Hired'].map(d)
df['Employed?'] = df['Employed?'].map(d)
df['Top-tier school'] = df['Top-tier school'].map(d)
df['Interned'] = df['Interned'].map(d)
d = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Level of Education'] = df['Level of Education'].map(d)
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

In [5]:
# Split data in x & y
y = df['Hired']
x = df.drop( ['Hired'], axis=1 )

In [6]:
# Build model
from sklearn import tree
clf = tree.DecisionTreeClassifier()

In [7]:
# Train the model
clf = clf.fit(x, y)

In [8]:
# Predict for following
# exp 10 yrs, employed, 4 employers, BS, No top tier school,  no internship
clf.predict( [[10, 1, 4, 0, 0, 0]] )

array([1], dtype=int64)

In [9]:
# fresher, not employed, 0 , BS, No top tier school,  no internship
clf.predict( [[0, 0, 0, 0, 0, 0]] )

array([0], dtype=int64)

In [10]:
feature = list(df.columns[:6])

In Windows environment, we need to install following  
Install exe of graphviz.exe (https://www.graphviz.org/)  
While installing tick option for exorting path for current user  

b. Check - export PATH of graphviz in windows environment variable  

c. path = "C:\Program Files (x86)\Graphviz2.38\bin"  

d. Imp - For current user only

In [1]:
from IPython.display import Image  
# from sklearn.externals.six import StringIO  
from six import StringIO  
import pydotplus

ModuleNotFoundError: No module named 'pydotplus'

In [ ]:
dot_data = StringIO()  
tree.export_graphviz(clf, out_file=dot_data, feature_names=feature)  
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())

NameError: name 'pydotplus' is not defined