## **Project 2: Car IoT sensors - Predict Fatal car accident**

In [2]:
import warnings 
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline


from sklearn import tree

import pandas as pd
import numpy as np

In [10]:
car_train = pd.read_csv('Car_Accidents_IOT/train.csv')
car_test = pd.read_csv('Car_Accidents_IOT/test.csv')

car_train.head(2)

,Fatal,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22
0,1,36.2247,10.7733,0.243897,596,100.671,0.0,0.0,1,28,...,1,57,0.0,0.280,240,5.99375,0,0.0,4,14.9382
1,1,35.7343,17.4551,0.243897,600,100.000,0.0,0.0,1,14,...,1,57,0.0,0.175,240,5.99375,0,0.0,4,14.8827

In [11]:
car_train.head(2)

,Fatal,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22
0,1,36.2247,10.7733,0.243897,596,100.671,0.0,0.0,1,28,...,1,57,0.0,0.280,240,5.99375,0,0.0,4,14.9382
1,1,35.7343,17.4551,0.243897,600,100.000,0.0,0.0,1,14,...,1,57,0.0,0.175,240,5.99375,0,0.0,4,14.8827

In [12]:
car_train.shape
car_test.shape

(9065, 23)

In [13]:
x = car_train [ car_train.columns[1:23] ]
y = car_train['Fatal']

In [14]:
x.head(2)

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22
0,36.2247,10.7733,0.243897,596,100.671,0.0,0.0,1,28,0.016064,...,1,57,0.0,0.280,240,5.99375,0,0.0,4,14.9382
1,35.7343,17.4551,0.243897,600,100.000,0.0,0.0,1,14,0.015812,...,1,57,0.0,0.175,240,5.99375,0,0.0,4,14.8827

In [15]:
# Build Model
clf = tree.DecisionTreeClassifier(random_state=0)

In [16]:
# Train Model
clf.fit(x, y)

DecisionTreeClassifier(random_state=0)

In [17]:
# Predict for car_test
var=list( car_test.columns[1:33] )
tree_predict = clf.predict( car_test[ var ] )

In [18]:
# Confusion matrix for validating model

from sklearn.metrics import confusion_matrix

cm1 = confusion_matrix( car_test[['Fatal']], tree_predict )
cm1

array([[3374,  518],
       [ 591, 4582]], dtype=int64)

In [19]:
accuracy = (3367 + 4592 ) / (3367 + 525 + 581 + 4592)
accuracy

0.877992277992278

<img src='confusion_matrix_V02.png'>