# **Statistics**

In [2]:
import numpy as np

d1 = np.array( [70, 72, 75, 74, 71] )
d2 = np.array( [110, 70, 49, 90, 50] )
d3 = np.array( [210, 40, 41, 45, 39] )

d1.mean(), d2.mean(),   d3.mean()

(72.4, 73.8, 75.0)

In [11]:
incomes = np.random.normal(27000, 15000, 10000)    
                  # (mean, standard deviation, no of readings)
incomes

array([11496.83456142, 44640.32649727, 26070.65055368, ...,
       31543.59597614, 17455.17560715, 43515.96228148])

In [12]:
np.mean(incomes)

27364.280599509086

In [5]:
np.median(incomes)

26966.62250546692

## **Mode**

In [8]:
ages = np.random.randint(18, high=90, size=500)   # (low_vale, High_value, no_of_readings)
ages

array([73, 78, 64, 44, 89, 51, 31, 59, 52, 75, 72, 47, 25, 56, 35, 47, 80,
       62, 30, 47, 25, 69, 60, 24, 88, 76, 33, 18, 37, 39, 28, 22, 63, 61,
       28, 54, 40, 54, 85, 59, 89, 50, 26, 70, 75, 24, 21, 80, 89, 35, 43,
       53, 60, 72, 72, 53, 58, 19, 85, 35, 72, 28, 42, 19, 36, 57, 60, 40,
       30, 65, 53, 31, 44, 28, 32, 54, 72, 42, 59, 37, 78, 35, 49, 48, 82,
       42, 60, 29, 85, 24, 45, 57, 60, 33, 30, 86, 20, 75, 47, 18, 57, 24,
       28, 32, 62, 51, 76, 53, 88, 35, 23, 58, 43, 36, 69, 45, 50, 34, 48,
       82, 24, 68, 40, 68, 78, 76, 44, 73, 86, 86, 33, 62, 23, 60, 18, 84,
       22, 64, 82, 27, 72, 38, 67, 19, 29, 36, 88, 62, 45, 45, 72, 41, 65,
       27, 67, 60, 55, 62, 34, 39, 35, 53, 61, 51, 79, 81, 88, 73, 89, 51,
       23, 65, 60, 59, 80, 43, 72, 84, 50, 45, 81, 38, 45, 75, 20, 85, 54,
       73, 47, 21, 87, 56, 37, 56, 28, 66, 48, 32, 61, 41, 83, 27, 46, 79,
       76, 80, 64, 66, 73, 64, 67, 81, 38, 36, 59, 82, 52, 35, 70, 82, 77,
       74, 49, 51, 40, 47, 77, 70, 83, 50, 27, 63, 48, 19, 23, 39, 56, 43,
       89, 30, 46, 41, 51, 40, 20, 55, 65, 32, 78, 85, 61, 89, 62, 73, 45,
       40, 62, 20, 86, 41, 82, 54, 52, 55, 88, 60, 31, 47, 71, 34, 58, 49,
       75, 36, 33, 79, 39, 20, 60, 51, 39, 61, 38, 18, 20, 54, 84, 86, 23,
       21, 25, 83, 57, 53, 88, 85, 46, 43, 30, 40, 89, 22, 62, 55, 88, 58,
       82, 40, 81, 89, 20, 26, 88, 43, 26, 80, 61, 61, 19, 50, 82, 87, 84,
       31, 43, 34, 58, 60, 89, 39, 83, 54, 89, 78, 57, 52, 51, 84, 18, 70,
       67, 46, 62, 89, 26, 80, 62, 86, 55, 76, 50, 63, 70, 70, 72, 84, 62,
       81, 51, 61, 65, 61, 20, 20, 70, 42, 22, 72, 40, 61, 45, 58, 30, 41,
       37, 38, 57, 71, 44, 34, 33, 21, 37, 37, 33, 63, 55, 32, 43, 48, 47,
       77, 69, 74, 64, 85, 55, 21, 83, 46, 77, 46, 38, 68, 55, 63, 64, 62,
       81, 37, 75, 42, 41, 78, 65, 45, 85, 59, 33, 51, 88, 52, 74, 57, 44,
       80, 84, 38, 66, 52, 52, 63, 75, 76, 54, 37, 19, 88, 47, 72, 59, 54,
       57, 46, 41, 40, 64, 32, 62, 69, 43, 26, 74, 50, 48, 54, 52, 55, 62,
       73, 82, 44, 63, 33, 89, 84, 68, 49, 54, 61, 62, 36, 89, 55, 83, 33,
       48, 20, 26, 71, 80, 76, 26, 50, 21, 77, 48, 66, 24, 53, 24, 30, 82,
       24, 56, 60, 65, 64, 34, 24])

In [15]:
import pandas as pd
wine = pd.read_csv('wine.csv')
wine.head(2)

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050

In [16]:
wine.shape

(178, 14)

In [18]:
wine['Acl'].mean()

19.49494382022472

In [19]:
wine['Acl'].median()

19.5

In [20]:
wine['Acl'].mode()

0    20.0
dtype: float64

In [21]:
d1.var(), d2.var(), d3.var()

(3.44, 553.76, 4560.4)

In [23]:
d1.std(), d2.std(), d3.std()

(1.8547236990991407, 23.532105728132365, 67.53073374397763)